@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    Hospital<br />
    Cairo, ELshrouk , shouhada Road<br />
    <abbr title="Phone">P:</abbr>
    01118944655
</address>


<address>
    <strong>Facebook:</strong> <a href="https://www.facebook.com/your_facebook_account">Facebook</a><br />
    <strong>Instagram:</strong>   <a href="https://www.instagram.com/your_instagram_account">Instagram</a><br />
    <strong>Whatsapp:</strong>   <a href="https://api.whatsapp.com/send?phone=01118944655">WhatsApp</a><br />
    <strong>Gmail:</strong> <a href="mailto:Marketing@example.com">hospital@gmail.com</a>
</address>


